:root {
  --color1: #FFFFFF; /* white */
  --color2: #0B5AAB; /* blue */
  --color3: #000000; /* black */
}

.App {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1 {
}

h2 {
}

.title2 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* MAIN LAYOUT (START) */
#appWrapper {
  height: 100vh;
  display: flex;
  /* Direction of the items, can be row or column */
  flex-direction: column;
}

#appHeader {
  background-color: var(--color1);
  color: var(--color2);
}

#appHeader #logoContainer {
  flex: 1; /* This element will have the remaining full space given to it */
  text-align: left;
  padding-top: 8px;
}

#appHeader #logoContainer .logo {
  height: 40px;
  margin-left: 4vw;
}

#appHeader #linksContainer {
  margin-right: 4vw;
}

#appHeader #secondaryToolBar {
  background-color: var(--color2);
  color: var(--color1);
}

#appHeader #secondaryToolBar #headerButtonsContainer {
  margin-left: 4vw;
}

#appContent {
  color: var(--color3);
  flex: 1;
  margin: 5vh 5vw;
}

#appFooter {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #0B5AAB;
  text-align: center;
  color: var(--color1);
  font-size: 0.8rem;
}

#appFooter a {
  color: var(--color1);
}
/* MAIN LAYOUT (END) */

/* BUTTONS (START) */

#mainButtons {
  margin: auto;
  text-align: center;
}

.mainButton {
  margin: 8vh 1vw;
}

#findMetadataButtons {
  margin: auto;
  text-align: center;
}

.generalButton {
  margin: 1vh 1vw;
}

.iconButton {
  color: var(--color2);
}

.sampleInputButton {
  text-align: right;
  width: 60vw;
  margin: -24px auto auto;
  text-transform: none;
}

/* BUTTONS (END) */

.inputTextFieldContainer {
  text-align: center;
  margin: 3vh auto;
}

#mainInputTextField {
  font-size: 0.8rem;
  line-height: 0.9rem;
  width: 60vw;
}

.mainTitle {
  margin-top: 4vh;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.mainSubtitle {
  text-align: center;
  margin: 6vh 10vw auto 10vw;
  font-size: 1.5rem;
}

.searchResults {
  margin-top: 2vh;
}

.searchResults .progressIndicator {
  text-align: center;
}

.table {
  margin: 2vh auto;
}


