:root {
  --color1: #FFFFFF; /* white */
  --color2: #0B5AAB; /* blue */
  --color3: #000000; /* black */
}

.App {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1 {
}

h2 {
}

/* MAIN LAYOUT (START) */
#appWrapper {
  height: 100vh;
  display: flex;
  /* Direction of the items, can be row or column */
  flex-direction: column;
}

#appHeader {
  background-color: var(--color1);
  color: var(--color2);
}

#appHeader #secondaryToolBar {
  background-color: var(--color2);
  color: var(--color1);
}

#appContent {
  color: var(--color3);
  flex: 1; /* This element will have the remaining full space given to it */
}

#appFooter {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #0B5AAB;
  text-align: center;
  color: var(--color1);
  font-size: 0.8rem;
}

#appFooter a {
  color: var(--color1);
}
/* MAIN LAYOUT (END) */

#mainButtons {
  margin: auto;
  text-align: center;
}

.mainButton {
  margin: 8vh 1vw;
}


/* BUTTONS (START) */
/* BUTTONS (END) */

.mainTitle {
  margin-top: 10vh;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.mainSubtitle {
  text-align: center;
  margin: 6vh 25vh auto 25vh;
  font-size: 1.5rem;
}